@model BW_5.Models.ViewModel.VenditeClienteViewModel

@{
    ViewData["Title"] = "Vendite Cliente";
}

<h1>Vendite Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nome
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente?.Nome
        </dd>
        <dt class="col-sm-2">
            Cognome
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente?.Cognome
        </dd>
        <dt class="col-sm-2">
            Codice Fiscale
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente?.CodiceFiscale
        </dd>
    </dl>
</div>

<div>
    <h4>Vendite</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Data Vendita</th>
                <th>Prodotto</th>
                <th>Numero Ricetta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendita in Model.Vendite)
            {
                <tr>
                    <td>@vendita.DataVendita</td>
                    <td>@vendita.Prodotto?.Nome</td>
                    <td>@vendita.NumeroRicetta</td>
                </tr>
            }
        </tbody>
    </table>
</div>
