@model BW_5.Models.Prodotto

@{
    ViewData["Title"] = "Dettagli Prodotto";
}

<h1>Dettagli Prodotto</h1>

<div>
    <h4>Prodotto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DittaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DittaId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArmadioId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArmadioId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CassettoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CassettoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizzo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizzo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifica</a> |
    <a asp-action="Index">Torna alla lista</a>
</div>
