@model IEnumerable<BW_5.Models.Prodotto>

@{
    ViewData["Title"] = "Prodotti";
}

<h1>Prodotti</h1>

<p>
    <a asp-action="Create">Crea Nuovo</a>
</p>
<p>
    <a asp-controller="Vendite" asp-action="SearchByCodiceFiscale">Cerca Vendite per Codice Fiscale</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.Ditta.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Utilizzo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
                <td>@Html.DisplayFor(modelItem => item.Ditta.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Utilizzo)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
