@model IEnumerable<BW_5.Models.ViewModel.ProdottoVM>

@{
    ViewData["Title"] = "Prodotti";
}

<h1>Prodotti</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Utilizzo</th>
            <th>Ditta</th>
            <th>Armadio</th>
            <th>Cassetto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Prodotto.Nome</td>
                <td>@item.Prodotto.Tipo</td>
                <td>@item.Prodotto.Utilizzo</td>
                <td>@item.Prodotto.Ditta?.Nome</td>
                <td>@item.Prodotto.Armadio?.Nome</td>
                <td>@item.Prodotto.Cassetto?.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Prodotto.Id">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Prodotto.Id">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Prodotto.Id">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
