@model BW5.ViewModel.AnimaleViewModel

@{
    ViewData["Title"] = "AnimalExist";
}

<h1>Animal Exist</h1>

<div>
    <h4>Animale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Razza)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Razza)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nascita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nascita)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PossiedeMicrochip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PossiedeMicrochip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroMicrochip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroMicrochip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
