@model IEnumerable<BW5.Models.Animale>

@{
    ViewData["Title"] = "Elenco Animali";
}

<h1>Elenco Animali</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crea Nuovo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Razza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Pelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Nascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Microchip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Cliente.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nascita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Microchip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifica</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Dettagli</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>
