@model IEnumerable<AnimaleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Pazienti della Clinica</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Razza)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <form asp-action="DeleteConfirmed" asp-route-id="@item.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-link text-danger" onclick="return confirm('Sei sicuro di voler eliminare questo animale?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
